body
{
    padding: 0%;
    margin: 0%;
    overflow: hidden;
    background: rgb(65, 60, 255);
    user-select: none;
}
#ATFIndexBack
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.25;
}
#ATFIndexLogo
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}